{% extends 'inventory/home.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load i18n static %}


{% block pagetitle %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-4 border-bottom">
        <div class="row">
            <div class="col-md-9">
                <h1 class="h2">Histórico de movimentos</h1>
            </div>
        </div>
    </div>
{% endblock %}


{% block history_submenu %}
    <ul class="nav pl-3 flex-column">
        <li class="nav-item ">
            <a class="nav-link {% if active_sub_page == 'history_output' %} active{% endif %}"
               href="#">
                &raquo;&nbsp;Saída
            </a>
        </li>
    </ul>
    <ul class="nav pl-3 flex-column">
        <li class="nav-item ">
            <a class="nav-link {% if active_sub_page == 'history_input' %} active{% endif %}"
               href="{% url "history_output" %}">
                &raquo;&nbsp;Entrada
            </a>
        </li>
    </ul>

{% endblock %}

{% block main_content %}


    <div class="row">
        <div class="col-md-9">

            {% if all_output_movements %}

                    {% for out_movement in all_output_movements %}
                        <p>{{ out_movement }}</p>
                    {% endfor %}
            {% endif %}
        </div>


    </div>





{% endblock %}