{% extends 'inventory/history_base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load i18n static %}


{% block pagetitle %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-4 border-bottom">
        <div class="row">
            <div class="col-md-9">
                <h1 class="h2">Histórico de movimentos de saída</h1>
            </div>
        </div>
    </div>
{% endblock %}



{% block col1_h %}Produto{% endblock %}
{% block col2_h %}Utilizador{% endblock %}
{% block col3_h %}Data{% endblock %}
{% block col4_h %}Quantidade{% endblock %}

{% block line %}
    {% if all_output_movements %}
        {% for out_movement in all_output_movements %}

                    <tr>
                        <th>{{ out_movement.product.name }}</th>
                        <td>{{ out_movement.user }}</td>
                        <td>{{ out_movement.date|date:"d/M/Y h:i"  }}</td>
                        <td>{{ out_movement.quantity }}</td>
                    </tr>
            {% endfor %}
    {% endif %}

{% endblock %}

{% block clean_link %}{% url "output_history" %}{% endblock %}



