{% extends 'inventory/home.html' %}
{% load bootstrap4 %}
{% load i18n static %}
{% load crispy_forms_tags %}


{% block pagetitle %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-4 border-bottom">
        <div class="row">
            <div class="col-md-9">
                <h1 class="h2">Editar produto: {{ product }}</h1>
            </div>

        </div>
    </div>
{% endblock %}


{% block main_content %}



    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_form form %}

                &nbsp;
                <button type="submit" class="btn btn-success">
                    {% trans "Submeter" %}
                </button>

            </form>
        </div>
    </div>

    <br>



{% endblock %}