{% extends 'inventory/home.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load i18n static %}


{% block pagetitle %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-4 border-bottom">
        <div class="row">
            <div class="col-md-9">
                <h1 class="h2">Reagentes</h1>
            </div>
            {% if user.profile.is_admin == True %}
                <div class="col-md-3">
                    <div class="float-right">
                        <form action="{% url 'reagent_create'  %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary">
                                Adicionar novo <i class="fas fa-plus"></i>
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}



{% block main_content %}


    <div class="row">
        <div class="col-md-9">

            {% if all_reagents_list %}
                <table class="table table-striped w-100 table-sm">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade Atual</th>
                        {% if user.profile.is_admin %}
                            <th>Visivel</th>
                        {% endif %}
                        {% if user.profile.is_admin %}
                            <th>Editar</th>
                        {% endif %}
                        {% if user.profile.is_admin %}
                            <th>Entrada</th>
                        {% endif %}
                        <th>Saída</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reagent in all_reagents_list %}
                        <tr>
                            <td>
                                <a href="#">
                                    {{ reagent.name }}
                                </a>
                            </td>
                            <td>
                                {{ reagent.quantity }} {{ reagent.get_unit_display}}
                            </td>
                            {% if user.profile.is_admin %}
                                {% if reagent.is_active %}
                                    <td>
                                        <i class="fas fa-check" style="color: #4b9000;"></i>
                                    </td>
                                {% else %}
                                    <td>
                                        <i class="fas fa-times" style="color: #f00d;"></i>
                                    </td>
                                {% endif %}
                            {% endif %}
                            {% if user.profile.is_admin %}
                                <td>
                                    <a href="{% url "edit_reagent" reagent.id %}"
                                       class="btn btn-outline-warning btn-sm">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            {% endif %}
                            {% if user.profile.is_admin %}
                                <td>
                                    {% if reagent.is_active %}
                                        <a href="{% url 'add_stock_reagents' reagent.id %}"
                                           class="btn btn-outline-secondary btn-sm">
                                            <span data-feather="log-in"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>
                                {% if reagent.is_active %}
                                    <a href="{% url 'remove_stock_reagents' reagent.id %}" class="btn btn-outline-primary btn-sm">
                                        <span data-feather="log-out"></span>
                                    </a>
                                {% endif %}

                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        </div>

        <div class="col-md-3">
            <div class="card bg-light">
                <h2 class="card-header h5">Filtros</h2>
                <div class="card-body">
                    <form method="get">
                        {% load crispy_forms_tags %}
                        {{ filter_form|crispy }}

                        <div class="form-group">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="fas fa-filter"></i> Filtrar
                            </button>
                            <a class="btn btn-outline-secondary" href="{% url 'all_products_list' %}" role="button">
                                <i class="fas fa-eraser"></i> Limpar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>





{% endblock %}