{% extends 'inventory/home.html' %}
{% load bootstrap4 %}
{% load i18n static %}
{% load crispy_forms_tags %}


{% block pagetitle %}
    <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0 mb-4 border-bottom">
        <div class="row">
            <div class="col-md-9">
                <h1 class="h2">Detalhes de: {{ reagent }}</h1>
            </div>

        </div>
    </div>
{% endblock %}


{% block main_content %}

<div class="row">
    <div class="col-md-6">

        <div class="row mb-6">
            <dt class="col-sm-4">{% trans "Nome" %}</dt>
            <dd class="col-sm-8">{{ reagent.name }}</dd>

            <dt class="col-sm-4">{% trans "Nome (inglês)" %}</dt>
            <dd class="col-sm-8">{{ reagent.name_en }}</dd>

            <dt class="col-sm-4">{% trans "Quantidade atual" %}</dt>
            <dd class="col-sm-8">{{ reagent.quantity}}</dd>

            <dt class="col-sm-4">{% trans "Quantidade por embalagem" %}</dt>
            <dd class="col-sm-8">{{ reagent.package_quantity}}</dd>

            <dt class="col-sm-4">{% trans "Unidade" %}</dt>
            <dd class="col-sm-8">{{ reagent.get_unit_display}}</dd>

            <dt class="col-sm-4">{% trans "Grau" %}</dt>
            <dd class="col-sm-8">{{ reagent.grade }}</dd>

            <dt class="col-sm-4">{% trans "Número" %}</dt>
            <dd class="col-sm-8">{{ reagent.number}}</dd>

            <dt class="col-sm-4">{% trans "Localização" %}</dt>
            <dd class="col-sm-8">{{ reagent.location }}</dd>

            <dt class="col-sm-4">{% trans "Grupo" %}</dt>
            <dd class="col-sm-8">{{ reagent.group }}</dd>

            <dt class="col-sm-4">{% trans "Número CAS" %}</dt>
            <dd class="col-sm-8">{{ reagent.n_cas }}</dd>

            <dt class="col-sm-4">{% trans "Fórmula" %}</dt>
            <dd class="col-sm-8">{{ reagent.formula }}</dd>

            <dt class="col-sm-4">{% trans "Fabricante" %}</dt>
            <dd class="col-sm-8">{{ reagent.manufacturer }}</dd>

            <dt class="col-sm-4">{% trans "Referência" %}</dt>
            <dd class="col-sm-8">{{ reagent.reference }}</dd>

            <dt class="col-sm-4">{% trans "Limite mínimo" %}</dt>
            <dd class="col-sm-8">{{ reagent.min_limit }}</dd>

            <dt class="col-sm-4">{% trans "Ficha técnia (TDS)" %}</dt>
            <dd class="col-sm-8">
                {% if reagent.tds == "" %}
                    Não existe
                {% else %}
                    <a href="{% url "pdf_view" reagent.tds  %}">
                        ver
                    </a>
                {% endif %}
            </dd>
            <dt class="col-sm-4">{% trans "Ficha de segurança (SDS)" %}</dt>
            <dd class="col-sm-8">
                {% if reagent.sds == "" %}
                    Não existe
                {% else %}
                    <a href="{% url "pdf_view" reagent.sds  %}">
                        ver
                    </a>
                {% endif %}
            </dd>


        </div>
    </div>
</div>


{% endblock %}